/target
/venv
/*.c

# Tool output
a.out
bench.out
halfempty.out
treereduce.out
treereduce-tmp-*
/*.jsonl

# Byproducts of benchmarks
/perf.data
/perf.data.old
/*.svg
# Perses
/perses-1.5.jar
/*.orig
/perses_result*/
