name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Format
      run: cargo fmt && git diff --exit-code
    - name: Deps
      run: |
        rustup update
        rustup component add clippy
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
    - name: Lint
      run: make lint

  static:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Deps
      run: |
        sudo apt-get install -y musl-tools
        rustup target add x86_64-unknown-linux-musl
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
    - run: make static

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
    - run: make build
    - run: make test
