name: release
on:
  push:
    branches:
    - release*
    tags:
    - v*
  pull_request:
    paths: [".github/workflows/release.yml"]
  workflow_dispatch:

jobs:
  release:
    uses: langston-barrett/gha/.github/workflows/rust-release.yml@edd880b5448475bd00b1136cb875c13d8dd506f4
    with:
      changelog: doc/changelog.md
      publish: ${{ startsWith(github.ref, 'refs/tags/v') }}
    secrets:
      crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
    permissions:
      contents: write
